{% extends "base.html" %}
{% block page_title %}
    Deadlog
{% endblock page_title %}
{% block content %}
    <h2>My blog</h2>
    {% for post in newposts %}
        <img src="{{post.image.url}}">
        <h2>
            <a href ="{% url "post.get_absolute_url"  %}">
                {{post.title}}
            </a>
        </h2>
        <p>
            {{post.published}} by {{post.author}}
         </p>
         {{post.content|truncatewords:30|linebreaks}}
         <p>{{post.tags.all|join:", "}}</p>
    {% endfor %}
{% endblock content %}