{% extends "base.html" %}
{% block page_title %}
    {{post.title}}
{% endblock page_title %}
{% block content %}
    <img src="{{post.image.url}}">
    <h2>  {{post.title}} </h2>
    <p>Tags: {{post.tags.all|join:", "}}</p>
    <p>
        {{post.published}} by {{post.author}}
        </p>
    {{post.content|linebreaks}}
    <a href="{% url "blog:share_post" post.id %}">Share post</a>
    <p>Similar posts:</p>
    {% for p  in similar_posts %}
        <a href = "{% url "p.get_absolute_url" %}">{{p.title}}</a>
    {%empty%}
        <p>No similar posts sadge </p>
    {% endfor %}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            <label>{{field.label_tag}}</label>{{field}}
            {{field.help_text|safe}}
        {% endfor %}
        <button type="submit">Comment</button>
    </form>

    {% with total_comments=comments.count %}
            {{total_comments}} Comment{{total_comments|pluralize}}
    {% endwith %}
    {% for comment in comments %}
        <div>
            Comment {{forloop.counter}} by {{comment.name}}
            {{comment.created}}
            {{comment.body|linebreaks}}
        </div>,
    {%empty%}
        <p>There are no comments</p>
    {% endfor %}
{% endblock content %}