{% extends "base.html" %}
{% load thumbnail %}
{% block page_title %}{{image.title}}{% endblock page_title %}

{% block content %}
  <h1>{{ image.title }}</h1>
  <a href="{{image.image.url}}">
  <img src="{% thumbnail image.image 300x0 %}"></a>
  {% with total_likes=image.users_like.count %}
    <div >
      <div>
        <span>
          {{ total_likes }} like{{ total_likes|pluralize }}
        </span>
      </div>
      {{ image.description|linebreaks }}
    </div>
    <div class="image-likes">
      {% for user in image.users_like.all %}
        <div>
          {% if user.profile.photo %}
            <img src="{{ user.profile.photo.url }}">
          {% endif %}
          <p>{{ user.first_name }}</p>
        </div>
      {% empty %}
        Nobody likes this image yet.
      {% endfor %}
    </div>
  {% endwith %}
{% endblock content %}