{% extends "base.html" %}

{% block page_title %}Login-page{% endblock page_title %}

{% block content %}
    
<div class="register-container">

    <form method="post" class="register-form">
        {% csrf_token %}
        {% for field in form %}
            <div class="register-field {% if field.errors %}has-error{% endif %}">
                <label>{{ field.label }}{% if forloop.first %} or email{% endif %}</label>
                {{ field }}

                {% if field.errors %}
                    <p class="field-error">{{ field.errors|striptags }}</p>
                {% endif %}
            </div>
        {% endfor %} 
        <input type ="hidden" name = "next" value="{% url "dashboard" %}"/>
        <button type="submit" class="register-btn">Sign in</button>
        <p>
            Forgot your password?
            <a href= "{% url "password_reset" %}">Reset password</a>
        </p>
        <p class="register-login-text">
            Don't have an account?
            <a href="{% url "register" %}">Register</a>
        </p>

    </form>
</div>
<div>
    <ul>
        <li>
            <a href= "{% url "social:begin" "google-oauth2" %}">sign in with google</a>
        </li>
    </ul>
</div>
{% endblock content %}