{% extends "base.html" %}

{% block page_title %}Change your password{% endblock page_title %}

{% block content %}
    <h2>Change your password</h2>
    <p>use the form below to change your password</p>
    <form method = "POST">
        {% csrf_token %}
        {% for field  in form %}
            {{field.label_tag}}{{field}}
            {% if field.errors %}
                <p>{{field.errors|striptags}}</p>
            {% endif %}
        {% endfor %}
        <button type ="submit">Change password</button>
    </form>
{% endblock content %}