{% load static %}
{% load blog_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>{% block page_title %}{% endblock page_title %}</title>
    {% block css_files %}{% endblock css_files %}
</head>
<body>
    <h2>i've written {%total_posts%} so far</h2>
    <a href = {% url "blog:all_posts" %}>All posts</a>
    <p>
        <a href = "{% url "blog:post_feed" %}">subscribe to my Rss feed</a>
    </p>
    {% block content %}{% endblock content %}
</body>
</html>