{% extends "base.html" %}
{% load thumbnail %}
{% block page_title %}People{% endblock page_title %}

{% block content %}
    <h1>People</h1>
    <div id="users-list">
    {% include "account/user/list_users.html" %}
    </div>
{% endblock content %}


{% block domready %}
  var page = 1;
  var emptyPage = false;
  var blockRequest = false;
  window.addEventListener('scroll', function(e) {
    var margin = document.body.clientHeight - window.innerHeight - 200;
    if(window.pageYOffset > margin && !emptyPage && !blockRequest) {
      blockRequest = true;
      page += 1;
      fetch('?users_only=1&page=' + page)
      .then(response => response.text())
      .then(html => {
        if (html === '') {
          emptyPage = true;
        }
        else {
          var userList = document.getElementById('users-list');
          userList.insertAdjacentHTML('beforeEnd', html);
          blockRequest = false;
        }
      })
    }
  });
  // Launch scroll event
  const scrollEvent = new Event('scroll');
  window.dispatchEvent(scrollEvent);

{% endblock domready %}